<body bgcolor="white" text="5599EE">	
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Comptes-rendus</a></li>
                    <li><a href="#">Médicaments</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Praticiens <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gsb_praticien_listePraticiens') }}" >Liste des praticiens</a></li>
                            <li><a href="#">Liste des spécialités</a></li>
                            <li><a href="#">Liste des types de praticien</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Visiteurs</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</body>
