<html>
  <body>
    Coucou c'est nous les fifous !
  </body>
  <div id="page">
		<div id="content">
			<div class="box">
				<h2>Bienvenue</h2>
				<p>
					Bonne navigation sur le site d'Alexia, Pavithra et Louis
				</p>
				<img src="images/pic.jpg" style="width: 200px; height: 200px;" />				
			</div>			
		</div>
		<br class="clearfix" />			
</div>
</html>