<html>
<head>
	<link href="/assets/css/app.scss">
</head>
{{ include("GSBPraticienBundle:Head:head.html.twig") }}
{{ include("GSBPraticienBundle:Menu:menu.html.twig") }}
  <div id="page">
		<div id="content">
			<div class="box">
				<h2>Bienvenue</h2>
				<p>
					Bonne navigation sur le site d'Alexia, Pavithra et Louis
				</p>								
			</div>			
		</div>
		<br class="clearfix" />
	</div>
</html>